---
---
<header class="mt-4">
  <div class="p-4 lg:px-0">
    <a href="/">
      <p class="mb-2 text-3xl font-semibold">Mike Bowman</p>
      <p class="max-w-max border-b-4 border-sage pr-8 font-mono text-xl italic">
        Software Developer
      </p>
    </a>
  </div>
</header>
